FILE@0..829
  STRUCT@0..33
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..10 "Box"
    GENERIC_LIST@10..14
      LBracket@10..11 "["
      GENERIC@11..12
        Ident@11..12 "T"
      RBracket@12..13 "]"
      Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    STRUCT_FIELD_LIST@20..33
      STRUCT_FIELD@20..28
        Ident@20..25 "value"
        Colon@25..26 ":"
        Whitespace@26..27 " "
        TYPE_TAPP@27..28
          PATH@27..28
            Ident@27..28 "T"
      Comma@28..29 ","
      Whitespace@29..30 "\n"
      RBrace@30..31 "}"
      Whitespace@31..33 "\n\n"
  IMPL@33..187
    ImplKeyword@33..37 "impl"
    Whitespace@37..38 " "
    TYPE_TAPP@38..47
      PATH@38..41
        Ident@38..41 "Box"
      TYPE_PARAM_LIST@41..47
        LBracket@41..42 "["
        TYPE_FLOAT64@42..45
          F64Keyword@42..45 "f64"
        RBracket@45..46 "]"
        Whitespace@46..47 " "
    LBrace@47..48 "{"
    Whitespace@48..53 "\n    "
    FN@53..126
      FnKeyword@53..55 "fn"
      Whitespace@55..56 " "
      Ident@56..66 "from_float"
      PARAM_LIST@66..79
        LParen@66..67 "("
        PARAM@67..77
          Ident@67..72 "value"
          Colon@72..73 ":"
          Whitespace@73..74 " "
          TYPE_FLOAT64@74..77
            F64Keyword@74..77 "f64"
        RParen@77..78 ")"
        Whitespace@78..79 " "
      Arrow@79..81 "->"
      Whitespace@81..82 " "
      TYPE_TAPP@82..91
        PATH@82..85
          Ident@82..85 "Box"
        TYPE_PARAM_LIST@85..91
          LBracket@85..86 "["
          TYPE_FLOAT64@86..89
            F64Keyword@86..89 "f64"
          RBracket@89..90 "]"
          Whitespace@90..91 " "
      BLOCK@91..126
        LBrace@91..92 "{"
        Whitespace@92..101 "\n        "
        EXPR_STRUCT_LITERAL@101..119
          PATH@101..105
            Ident@101..104 "Box"
            Whitespace@104..105 " "
          STRUCT_LITERAL_FIELD_LIST@105..119
            LBrace@105..106 "{"
            Whitespace@106..107 " "
            STRUCT_LITERAL_FIELD@107..113
              Ident@107..112 "value"
              Whitespace@112..113 " "
            RBrace@113..114 "}"
            Whitespace@114..119 "\n    "
        RBrace@119..120 "}"
        Whitespace@120..126 "\n\n    "
    FN@126..184
      FnKeyword@126..128 "fn"
      Whitespace@128..129 " "
      Ident@129..134 "empty"
      PARAM_LIST@134..137
        LParen@134..135 "("
        RParen@135..136 ")"
        Whitespace@136..137 " "
      Arrow@137..139 "->"
      Whitespace@139..140 " "
      TYPE_TAPP@140..149
        PATH@140..143
          Ident@140..143 "Box"
        TYPE_PARAM_LIST@143..149
          LBracket@143..144 "["
          TYPE_FLOAT64@144..147
            F64Keyword@144..147 "f64"
          RBracket@147..148 "]"
          Whitespace@148..149 " "
      BLOCK@149..184
        LBrace@149..150 "{"
        Whitespace@150..159 "\n        "
        EXPR_STRUCT_LITERAL@159..182
          PATH@159..163
            Ident@159..162 "Box"
            Whitespace@162..163 " "
          STRUCT_LITERAL_FIELD_LIST@163..182
            LBrace@163..164 "{"
            Whitespace@164..165 " "
            STRUCT_LITERAL_FIELD@165..176
              Ident@165..170 "value"
              Colon@170..171 ":"
              Whitespace@171..172 " "
              EXPR_FLOAT@172..176
                Float@172..175 "1.5"
                Whitespace@175..176 " "
            RBrace@176..177 "}"
            Whitespace@177..182 "\n    "
        RBrace@182..183 "}"
        Whitespace@183..184 "\n"
    RBrace@184..185 "}"
    Whitespace@185..187 "\n\n"
  IMPL@187..271
    ImplKeyword@187..191 "impl"
    Whitespace@191..192 " "
    TYPE_TAPP@192..203
      PATH@192..195
        Ident@192..195 "Box"
      TYPE_PARAM_LIST@195..203
        LBracket@195..196 "["
        TYPE_INT@196..201
          IsizeKeyword@196..201 "isize"
        RBracket@201..202 "]"
        Whitespace@202..203 " "
    LBrace@203..204 "{"
    Whitespace@204..209 "\n    "
    FN@209..268
      FnKeyword@209..211 "fn"
      Whitespace@211..212 " "
      Ident@212..217 "empty"
      PARAM_LIST@217..220
        LParen@217..218 "("
        RParen@218..219 ")"
        Whitespace@219..220 " "
      Arrow@220..222 "->"
      Whitespace@222..223 " "
      TYPE_TAPP@223..234
        PATH@223..226
          Ident@223..226 "Box"
        TYPE_PARAM_LIST@226..234
          LBracket@226..227 "["
          TYPE_INT@227..232
            IsizeKeyword@227..232 "isize"
          RBracket@232..233 "]"
          Whitespace@233..234 " "
      BLOCK@234..268
        LBrace@234..235 "{"
        Whitespace@235..244 "\n        "
        EXPR_STRUCT_LITERAL@244..266
          PATH@244..248
            Ident@244..247 "Box"
            Whitespace@247..248 " "
          STRUCT_LITERAL_FIELD_LIST@248..266
            LBrace@248..249 "{"
            Whitespace@249..250 " "
            STRUCT_LITERAL_FIELD@250..260
              Ident@250..255 "value"
              Colon@255..256 ":"
              Whitespace@256..257 " "
              EXPR_INT@257..260
                Int@257..259 "12"
                Whitespace@259..260 " "
            RBrace@260..261 "}"
            Whitespace@261..266 "\n    "
        RBrace@266..267 "}"
        Whitespace@267..268 "\n"
    RBrace@268..269 "}"
    Whitespace@269..271 "\n\n"
  IMPL@271..400
    ImplKeyword@271..275 "impl"
    GENERIC_LIST@275..279
      LBracket@275..276 "["
      GENERIC@276..277
        Ident@276..277 "T"
      RBracket@277..278 "]"
      Whitespace@278..279 " "
    TYPE_TAPP@279..291
      PATH@279..282
        Ident@279..282 "Box"
      TYPE_PARAM_LIST@282..291
        LBracket@282..283 "["
        TYPE_TAPP@283..289
          PATH@283..286
            Ident@283..286 "Vec"
          TYPE_PARAM_LIST@286..289
            LBracket@286..287 "["
            TYPE_TAPP@287..288
              PATH@287..288
                Ident@287..288 "T"
            RBracket@288..289 "]"
        RBracket@289..290 "]"
        Whitespace@290..291 " "
    LBrace@291..292 "{"
    Whitespace@292..297 "\n    "
    FN@297..397
      FnKeyword@297..299 "fn"
      Whitespace@299..300 " "
      Ident@300..308 "repeated"
      PARAM_LIST@308..319
        LParen@308..309 "("
        PARAM@309..317
          Ident@309..314 "value"
          Colon@314..315 ":"
          Whitespace@315..316 " "
          TYPE_TAPP@316..317
            PATH@316..317
              Ident@316..317 "T"
        RParen@317..318 ")"
        Whitespace@318..319 " "
      Arrow@319..321 "->"
      Whitespace@321..322 " "
      TYPE_TAPP@322..334
        PATH@322..325
          Ident@322..325 "Box"
        TYPE_PARAM_LIST@325..334
          LBracket@325..326 "["
          TYPE_TAPP@326..332
            PATH@326..329
              Ident@326..329 "Vec"
            TYPE_PARAM_LIST@329..332
              LBracket@329..330 "["
              TYPE_TAPP@330..331
                PATH@330..331
                  Ident@330..331 "T"
              RBracket@331..332 "]"
          RBracket@332..333 "]"
          Whitespace@333..334 " "
      BLOCK@334..397
        LBrace@334..335 "{"
        Whitespace@335..344 "\n        "
        EXPR_STRUCT_LITERAL@344..395
          PATH@344..348
            Ident@344..347 "Box"
            Whitespace@347..348 " "
          STRUCT_LITERAL_FIELD_LIST@348..395
            LBrace@348..349 "{"
            Whitespace@349..350 " "
            STRUCT_LITERAL_FIELD@350..389
              Ident@350..355 "value"
              Colon@355..356 ":"
              Whitespace@356..357 " "
              EXPR_CALL@357..389
                EXPR_IDENT@357..372
                  PATH@357..372
                    Ident@357..360 "Vec"
                    ColonColon@360..362 "::"
                    Ident@362..372 "from_array"
                ARG_LIST@372..389
                  LParen@372..373 "("
                  ARG@373..387
                    EXPR_ARRAY_LITERAL@373..387
                      LBracket@373..374 "["
                      EXPR_IDENT@374..379
                        PATH@374..379
                          Ident@374..379 "value"
                      Comma@379..380 ","
                      Whitespace@380..381 " "
                      EXPR_IDENT@381..386
                        PATH@381..386
                          Ident@381..386 "value"
                      RBracket@386..387 "]"
                  RParen@387..388 ")"
                  Whitespace@388..389 " "
            RBrace@389..390 "}"
            Whitespace@390..395 "\n    "
        RBrace@395..396 "}"
        Whitespace@396..397 "\n"
    RBrace@397..398 "}"
    Whitespace@398..400 "\n\n"
  FN@400..829
    FnKeyword@400..402 "fn"
    Whitespace@402..403 " "
    Ident@403..407 "main"
    PARAM_LIST@407..410
      LParen@407..408 "("
      RParen@408..409 ")"
      Whitespace@409..410 " "
    Arrow@410..412 "->"
    Whitespace@412..413 " "
    TYPE_TUPLE@413..416
      TYPE_LIST@413..416
        LParen@413..414 "("
        RParen@414..415 ")"
        Whitespace@415..416 " "
    BLOCK@416..829
      LBrace@416..417 "{"
      Whitespace@417..422 "\n    "
      STMT_LET@422..473
        LetKeyword@422..425 "let"
        Whitespace@425..426 " "
        PATTERN_VARIABLE@426..434
          Ident@426..434 "inferred"
        Colon@434..435 ":"
        Whitespace@435..436 " "
        TYPE_TAPP@436..445
          PATH@436..439
            Ident@436..439 "Box"
          TYPE_PARAM_LIST@439..445
            LBracket@439..440 "["
            TYPE_FLOAT64@440..443
              F64Keyword@440..443 "f64"
            RBracket@443..444 "]"
            Whitespace@444..445 " "
        Eq@445..446 "="
        Whitespace@446..447 " "
        EXPR_CALL@447..467
          EXPR_IDENT@447..462
            PATH@447..462
              Ident@447..450 "Box"
              ColonColon@450..452 "::"
              Ident@452..462 "from_float"
          ARG_LIST@462..467
            LParen@462..463 "("
            ARG@463..466
              EXPR_FLOAT@463..466
                Float@463..466 "1.0"
            RParen@466..467 ")"
        Semi@467..468 ";"
        Whitespace@468..473 "\n    "
      STMT_LET@473..521
        LetKeyword@473..476 "let"
        Whitespace@476..477 " "
        PATTERN_VARIABLE@477..486
          Ident@477..485 "explicit"
          Whitespace@485..486 " "
        Eq@486..487 "="
        Whitespace@487..488 " "
        EXPR_CALL@488..515
          EXPR_IDENT@488..510
            TYPE_TAPP@488..498
              PATH@488..491
                Ident@488..491 "Box"
              ColonColon@491..493 "::"
              TYPE_PARAM_LIST@493..498
                LBracket@493..494 "["
                TYPE_FLOAT64@494..497
                  F64Keyword@494..497 "f64"
                RBracket@497..498 "]"
            ColonColon@498..500 "::"
            PATH@500..510
              Ident@500..510 "from_float"
          ARG_LIST@510..515
            LParen@510..511 "("
            ARG@511..514
              EXPR_FLOAT@511..514
                Float@511..514 "2.0"
            RParen@514..515 ")"
        Semi@515..516 ";"
        Whitespace@516..521 "\n    "
      STMT_EXPR@521..567
        EXPR_CALL@521..561
          EXPR_IDENT@521..528
            PATH@521..528
              Ident@521..528 "println"
          ARG_LIST@528..561
            LParen@528..529 "("
            ARG@529..560
              EXPR_BINARY@529..560
                EXPR_BINARY@529..544
                  EXPR_IDENT@529..537
                    PATH@529..537
                      Ident@529..537 "inferred"
                  Dot@537..538 "."
                  EXPR_IDENT@538..544
                    PATH@538..544
                      Ident@538..543 "value"
                      Whitespace@543..544 " "
                Plus@544..545 "+"
                Whitespace@545..546 " "
                EXPR_BINARY@546..560
                  EXPR_IDENT@546..554
                    PATH@546..554
                      Ident@546..554 "explicit"
                  Dot@554..555 "."
                  EXPR_IDENT@555..560
                    PATH@555..560
                      Ident@555..560 "value"
            RParen@560..561 ")"
        Semi@561..562 ";"
        Whitespace@562..567 "\n    "
      STMT_LET@567..607
        LetKeyword@567..570 "let"
        Whitespace@570..571 " "
        PATTERN_VARIABLE@571..576
          Ident@571..576 "first"
        Colon@576..577 ":"
        Whitespace@577..578 " "
        TYPE_TAPP@578..587
          PATH@578..581
            Ident@578..581 "Box"
          TYPE_PARAM_LIST@581..587
            LBracket@581..582 "["
            TYPE_FLOAT64@582..585
              F64Keyword@582..585 "f64"
            RBracket@585..586 "]"
            Whitespace@586..587 " "
        Eq@587..588 "="
        Whitespace@588..589 " "
        EXPR_CALL@589..601
          EXPR_IDENT@589..599
            PATH@589..599
              Ident@589..592 "Box"
              ColonColon@592..594 "::"
              Ident@594..599 "empty"
          ARG_LIST@599..601
            LParen@599..600 "("
            RParen@600..601 ")"
        Semi@601..602 ";"
        Whitespace@602..607 "\n    "
      STMT_LET@607..650
        LetKeyword@607..610 "let"
        Whitespace@610..611 " "
        PATTERN_VARIABLE@611..617
          Ident@611..617 "second"
        Colon@617..618 ":"
        Whitespace@618..619 " "
        TYPE_TAPP@619..630
          PATH@619..622
            Ident@619..622 "Box"
          TYPE_PARAM_LIST@622..630
            LBracket@622..623 "["
            TYPE_INT@623..628
              IsizeKeyword@623..628 "isize"
            RBracket@628..629 "]"
            Whitespace@629..630 " "
        Eq@630..631 "="
        Whitespace@631..632 " "
        EXPR_CALL@632..644
          EXPR_IDENT@632..642
            PATH@632..642
              Ident@632..635 "Box"
              ColonColon@635..637 "::"
              Ident@637..642 "empty"
          ARG_LIST@642..644
            LParen@642..643 "("
            RParen@643..644 ")"
        Semi@644..645 ";"
        Whitespace@645..650 "\n    "
      STMT_EXPR@650..676
        EXPR_CALL@650..670
          EXPR_IDENT@650..657
            PATH@650..657
              Ident@650..657 "println"
          ARG_LIST@657..670
            LParen@657..658 "("
            ARG@658..669
              EXPR_BINARY@658..669
                EXPR_IDENT@658..663
                  PATH@658..663
                    Ident@658..663 "first"
                Dot@663..664 "."
                EXPR_IDENT@664..669
                  PATH@664..669
                    Ident@664..669 "value"
            RParen@669..670 ")"
        Semi@670..671 ";"
        Whitespace@671..676 "\n    "
      STMT_EXPR@676..703
        EXPR_CALL@676..697
          EXPR_IDENT@676..683
            PATH@676..683
              Ident@676..683 "println"
          ARG_LIST@683..697
            LParen@683..684 "("
            ARG@684..696
              EXPR_BINARY@684..696
                EXPR_IDENT@684..690
                  PATH@684..690
                    Ident@684..690 "second"
                Dot@690..691 "."
                EXPR_IDENT@691..696
                  PATH@691..696
                    Ident@691..696 "value"
            RParen@696..697 ")"
        Semi@697..698 ";"
        Whitespace@698..703 "\n    "
      STMT_EXPR@703..745
        EXPR_CALL@703..739
          EXPR_IDENT@703..710
            PATH@703..710
              Ident@703..710 "println"
          ARG_LIST@710..739
            LParen@710..711 "("
            ARG@711..738
              EXPR_BINARY@711..738
                EXPR_CALL@711..732
                  EXPR_IDENT@711..730
                    TYPE_TAPP@711..723
                      PATH@711..714
                        Ident@711..714 "Box"
                      ColonColon@714..716 "::"
                      TYPE_PARAM_LIST@716..723
                        LBracket@716..717 "["
                        TYPE_INT@717..722
                          IsizeKeyword@717..722 "isize"
                        RBracket@722..723 "]"
                    ColonColon@723..725 "::"
                    PATH@725..730
                      Ident@725..730 "empty"
                  ARG_LIST@730..732
                    LParen@730..731 "("
                    RParen@731..732 ")"
                Dot@732..733 "."
                EXPR_IDENT@733..738
                  PATH@733..738
                    Ident@733..738 "value"
            RParen@738..739 ")"
        Semi@739..740 ";"
        Whitespace@740..745 "\n    "
      STMT_LET@745..802
        LetKeyword@745..748 "let"
        Whitespace@748..749 " "
        PATTERN_VARIABLE@749..756
          Ident@749..755 "nested"
          Whitespace@755..756 " "
        Eq@756..757 "="
        Whitespace@757..758 " "
        EXPR_CALL@758..796
          EXPR_IDENT@758..786
            TYPE_TAPP@758..776
              PATH@758..761
                Ident@758..761 "Box"
              ColonColon@761..763 "::"
              TYPE_PARAM_LIST@763..776
                LBracket@763..764 "["
                TYPE_TAPP@764..775
                  PATH@764..767
                    Ident@764..767 "Vec"
                  TYPE_PARAM_LIST@767..775
                    LBracket@767..768 "["
                    TYPE_STRING@768..774
                      StringKeyword@768..774 "string"
                    RBracket@774..775 "]"
                RBracket@775..776 "]"
            ColonColon@776..778 "::"
            PATH@778..786
              Ident@778..786 "repeated"
          ARG_LIST@786..796
            LParen@786..787 "("
            ARG@787..795
              EXPR_STR@787..795
                Str@787..795 "\"nested\""
            RParen@795..796 ")"
        Semi@796..797 ";"
        Whitespace@797..802 "\n    "
      EXPR_CALL@802..827
        EXPR_IDENT@802..809
          PATH@802..809
            Ident@802..809 "println"
        ARG_LIST@809..827
          LParen@809..810 "("
          ARG@810..825
            EXPR_INDEX@810..825
              EXPR_BINARY@810..822
                EXPR_IDENT@810..816
                  PATH@810..816
                    Ident@810..816 "nested"
                Dot@816..817 "."
                EXPR_IDENT@817..822
                  PATH@817..822
                    Ident@817..822 "value"
              LBracket@822..823 "["
              EXPR_INT@823..824
                Int@823..824 "1"
              RBracket@824..825 "]"
          RParen@825..826 ")"
          Whitespace@826..827 "\n"
      RBrace@827..828 "}"
      Whitespace@828..829 "\n"