FILE@0..620
  TRAIT@0..72
    TraitKeyword@0..5 "trait"
    Whitespace@5..6 " "
    Ident@6..13 "Measure"
    Whitespace@13..14 " "
    LBrace@14..15 "{"
    Whitespace@15..20 "\n    "
    TRAIT_METHOD_SIG_LIST@20..72
      CONST@20..44
        ConstKeyword@20..25 "const"
        Whitespace@25..26 " "
        Ident@26..31 "WIDTH"
        Colon@31..32 ":"
        Whitespace@32..33 " "
        TYPE_UINT@33..38
          UsizeKeyword@33..38 "usize"
        Semi@38..39 ";"
        Whitespace@39..44 "\n    "
      CONST@44..69
        ConstKeyword@44..49 "const"
        Whitespace@49..50 " "
        Ident@50..57 "DEFAULT"
        Colon@57..58 ":"
        Whitespace@58..59 " "
        TYPE_INT32@59..63
          I32Keyword@59..62 "i32"
          Whitespace@62..63 " "
        Eq@63..64 "="
        Whitespace@64..65 " "
        EXPR_INT@65..67
          Int@65..67 "17"
        Semi@67..68 ";"
        Whitespace@68..69 "\n"
      RBrace@69..70 "}"
      Whitespace@70..72 "\n\n"
  STRUCT@72..90
    StructKeyword@72..78 "struct"
    Whitespace@78..79 " "
    Ident@79..85 "Packet"
    Whitespace@85..86 " "
    LBrace@86..87 "{"
    STRUCT_FIELD_LIST@87..90
      RBrace@87..88 "}"
      Whitespace@88..90 "\n\n"
  IMPL@90..140
    ImplKeyword@90..94 "impl"
    Whitespace@94..95 " "
    TYPE_TAPP@95..102
      PATH@95..102
        Ident@95..101 "Packet"
        Whitespace@101..102 " "
    LBrace@102..103 "{"
    Whitespace@103..108 "\n    "
    CONST@108..137
      PubKeyword@108..111 "pub"
      Whitespace@111..112 " "
      ConstKeyword@112..117 "const"
      Whitespace@117..118 " "
      Ident@118..124 "HEADER"
      Colon@124..125 ":"
      Whitespace@125..126 " "
      TYPE_UINT@126..132
        UsizeKeyword@126..131 "usize"
        Whitespace@131..132 " "
      Eq@132..133 "="
      Whitespace@133..134 " "
      EXPR_INT@134..135
        Int@134..135 "2"
      Semi@135..136 ";"
      Whitespace@136..137 "\n"
    RBrace@137..138 "}"
    Whitespace@138..140 "\n\n"
  IMPL@140..197
    ImplKeyword@140..144 "impl"
    Whitespace@144..145 " "
    TYPE_TAPP@145..153
      PATH@145..153
        Ident@145..152 "Measure"
        Whitespace@152..153 " "
    ForKeyword@153..156 "for"
    Whitespace@156..157 " "
    TYPE_TAPP@157..164
      PATH@157..164
        Ident@157..163 "Packet"
        Whitespace@163..164 " "
    LBrace@164..165 "{"
    Whitespace@165..170 "\n    "
    CONST@170..194
      ConstKeyword@170..175 "const"
      Whitespace@175..176 " "
      Ident@176..181 "WIDTH"
      Colon@181..182 ":"
      Whitespace@182..183 " "
      TYPE_UINT@183..189
        UsizeKeyword@183..188 "usize"
        Whitespace@188..189 " "
      Eq@189..190 "="
      Whitespace@190..191 " "
      EXPR_INT@191..192
        Int@191..192 "4"
      Semi@192..193 ";"
      Whitespace@193..194 "\n"
    RBrace@194..195 "}"
    Whitespace@195..197 "\n\n"
  STRUCT@197..252
    StructKeyword@197..203 "struct"
    Whitespace@203..204 " "
    Ident@204..210 "Buffer"
    GENERIC_LIST@210..227
      LBracket@210..211 "["
      GENERIC@211..225
        ConstKeyword@211..216 "const"
        Whitespace@216..217 " "
        Ident@217..218 "N"
        Colon@218..219 ":"
        Whitespace@219..220 " "
        UsizeKeyword@220..225 "usize"
      RBracket@225..226 "]"
      Whitespace@226..227 " "
    LBrace@227..228 "{"
    Whitespace@228..233 "\n    "
    STRUCT_FIELD_LIST@233..252
      STRUCT_FIELD@233..247
        Ident@233..237 "data"
        Colon@237..238 ":"
        Whitespace@238..239 " "
        TYPE_ARRAY@239..247
          LBracket@239..240 "["
          TYPE_INT32@240..243
            I32Keyword@240..243 "i32"
          Semi@243..244 ";"
          Whitespace@244..245 " "
          EXPR_IDENT@245..246
            PATH@245..246
              Ident@245..246 "N"
          RBracket@246..247 "]"
      Comma@247..248 ","
      Whitespace@248..249 "\n"
      RBrace@249..250 "}"
      Whitespace@250..252 "\n\n"
  IMPL@252..323
    ImplKeyword@252..256 "impl"
    GENERIC_LIST@256..273
      LBracket@256..257 "["
      GENERIC@257..271
        ConstKeyword@257..262 "const"
        Whitespace@262..263 " "
        Ident@263..264 "N"
        Colon@264..265 ":"
        Whitespace@265..266 " "
        UsizeKeyword@266..271 "usize"
      RBracket@271..272 "]"
      Whitespace@272..273 " "
    TYPE_TAPP@273..283
      PATH@273..279
        Ident@273..279 "Buffer"
      TYPE_PARAM_LIST@279..283
        LBracket@279..280 "["
        TYPE_TAPP@280..281
          PATH@280..281
            Ident@280..281 "N"
        RBracket@281..282 "]"
        Whitespace@282..283 " "
    LBrace@283..284 "{"
    Whitespace@284..289 "\n    "
    CONST@289..320
      PubKeyword@289..292 "pub"
      Whitespace@292..293 " "
      ConstKeyword@293..298 "const"
      Whitespace@298..299 " "
      Ident@299..307 "CAPACITY"
      Colon@307..308 ":"
      Whitespace@308..309 " "
      TYPE_UINT@309..315
        UsizeKeyword@309..314 "usize"
        Whitespace@314..315 " "
      Eq@315..316 "="
      Whitespace@316..317 " "
      EXPR_IDENT@317..318
        PATH@317..318
          Ident@317..318 "N"
      Semi@318..319 ";"
      Whitespace@319..320 "\n"
    RBrace@320..321 "}"
    Whitespace@321..323 "\n\n"
  FN@323..373
    FnKeyword@323..325 "fn"
    Whitespace@325..326 " "
    Ident@326..331 "width"
    GENERIC_LIST@331..343
      LBracket@331..332 "["
      GENERIC@332..342
        Ident@332..333 "T"
        Colon@333..334 ":"
        Whitespace@334..335 " "
        TRAIT_SET@335..342
          TYPE_TAPP@335..342
            PATH@335..342
              Ident@335..342 "Measure"
      RBracket@342..343 "]"
    PARAM_LIST@343..346
      LParen@343..344 "("
      RParen@344..345 ")"
      Whitespace@345..346 " "
    Arrow@346..348 "->"
    Whitespace@348..349 " "
    TYPE_UINT@349..355
      UsizeKeyword@349..354 "usize"
      Whitespace@354..355 " "
    BLOCK@355..373
      LBrace@355..356 "{"
      Whitespace@356..361 "\n    "
      EXPR_IDENT@361..370
        PATH@361..370
          Ident@361..362 "T"
          ColonColon@362..364 "::"
          Ident@364..369 "WIDTH"
          Whitespace@369..370 "\n"
      RBrace@370..371 "}"
      Whitespace@371..373 "\n\n"
  FN@373..620
    FnKeyword@373..375 "fn"
    Whitespace@375..376 " "
    Ident@376..380 "main"
    PARAM_LIST@380..383
      LParen@380..381 "("
      RParen@381..382 ")"
      Whitespace@382..383 " "
    Arrow@383..385 "->"
    Whitespace@385..386 " "
    TYPE_TUPLE@386..389
      TYPE_LIST@386..389
        LParen@386..387 "("
        RParen@387..388 ")"
        Whitespace@388..389 " "
    BLOCK@389..620
      LBrace@389..390 "{"
      Whitespace@390..395 "\n    "
      STMT_EXPR@395..424
        EXPR_CALL@395..418
          EXPR_IDENT@395..402
            PATH@395..402
              Ident@395..402 "println"
          ARG_LIST@402..418
            LParen@402..403 "("
            ARG@403..417
              EXPR_IDENT@403..417
                PATH@403..417
                  Ident@403..409 "Packet"
                  ColonColon@409..411 "::"
                  Ident@411..417 "HEADER"
            RParen@417..418 ")"
        Semi@418..419 ";"
        Whitespace@419..424 "\n    "
      STMT_EXPR@424..452
        EXPR_CALL@424..446
          EXPR_IDENT@424..431
            PATH@424..431
              Ident@424..431 "println"
          ARG_LIST@431..446
            LParen@431..432 "("
            ARG@432..445
              EXPR_IDENT@432..445
                PATH@432..445
                  Ident@432..438 "Packet"
                  ColonColon@438..440 "::"
                  Ident@440..445 "WIDTH"
            RParen@445..446 ")"
        Semi@446..447 ";"
        Whitespace@447..452 "\n    "
      STMT_EXPR@452..482
        EXPR_CALL@452..476
          EXPR_IDENT@452..459
            PATH@452..459
              Ident@452..459 "println"
          ARG_LIST@459..476
            LParen@459..460 "("
            ARG@460..475
              EXPR_IDENT@460..475
                PATH@460..475
                  Ident@460..466 "Packet"
                  ColonColon@466..468 "::"
                  Ident@468..475 "DEFAULT"
            RParen@475..476 ")"
        Semi@476..477 ";"
        Whitespace@477..482 "\n    "
      STMT_EXPR@482..514
        EXPR_CALL@482..508
          EXPR_IDENT@482..489
            PATH@482..489
              Ident@482..489 "println"
          ARG_LIST@489..508
            LParen@489..490 "("
            ARG@490..507
              EXPR_CALL@490..507
                EXPR_IDENT@490..505
                  TYPE_TAPP@490..505
                    PATH@490..495
                      Ident@490..495 "width"
                    ColonColon@495..497 "::"
                    TYPE_PARAM_LIST@497..505
                      LBracket@497..498 "["
                      TYPE_TAPP@498..504
                        PATH@498..504
                          Ident@498..504 "Packet"
                      RBracket@504..505 "]"
                ARG_LIST@505..507
                  LParen@505..506 "("
                  RParen@506..507 ")"
            RParen@507..508 ")"
        Semi@508..509 ";"
        Whitespace@509..514 "\n    "
      STMT_EXPR@514..550
        EXPR_CALL@514..544
          EXPR_IDENT@514..521
            PATH@514..521
              Ident@514..521 "println"
          ARG_LIST@521..544
            LParen@521..522 "("
            ARG@522..543
              EXPR_IDENT@522..543
                TYPE_TAPP@522..533
                  PATH@522..528
                    Ident@522..528 "Buffer"
                  ColonColon@528..530 "::"
                  TYPE_PARAM_LIST@530..533
                    LBracket@530..531 "["
                    TYPE_TAPP@531..532
                      EXPR_INT@531..532
                        Int@531..532 "3"
                    RBracket@532..533 "]"
                ColonColon@533..535 "::"
                PATH@535..543
                  Ident@535..543 "CAPACITY"
            RParen@543..544 ")"
        Semi@544..545 ";"
        Whitespace@545..550 "\n    "
      STMT_LET@550..598
        LetKeyword@550..553 "let"
        Whitespace@553..554 " "
        PATTERN_VARIABLE@554..560
          Ident@554..560 "header"
        Colon@560..561 ":"
        Whitespace@561..562 " "
        TYPE_ARRAY@562..584
          LBracket@562..563 "["
          TYPE_INT32@563..566
            I32Keyword@563..566 "i32"
          Semi@566..567 ";"
          Whitespace@567..568 " "
          EXPR_IDENT@568..582
            PATH@568..582
              Ident@568..574 "Packet"
              ColonColon@574..576 "::"
              Ident@576..582 "HEADER"
          RBracket@582..583 "]"
          Whitespace@583..584 " "
        Eq@584..585 "="
        Whitespace@585..586 " "
        EXPR_ARRAY_LITERAL@586..592
          LBracket@586..587 "["
          EXPR_INT@587..588
            Int@587..588 "1"
          Comma@588..589 ","
          Whitespace@589..590 " "
          EXPR_INT@590..591
            Int@590..591 "2"
          RBracket@591..592 "]"
        Semi@592..593 ";"
        Whitespace@593..598 "\n    "
      STMT_EXPR@598..618
        EXPR_CALL@598..616
          EXPR_IDENT@598..605
            PATH@598..605
              Ident@598..605 "println"
          ARG_LIST@605..616
            LParen@605..606 "("
            ARG@606..615
              EXPR_INDEX@606..615
                EXPR_IDENT@606..612
                  PATH@606..612
                    Ident@606..612 "header"
                LBracket@612..613 "["
                EXPR_INT@613..614
                  Int@613..614 "1"
                RBracket@614..615 "]"
            RParen@615..616 ")"
        Semi@616..617 ";"
        Whitespace@617..618 "\n"
      RBrace@618..619 "}"
      Whitespace@619..620 "\n"