FILE@0..749
  STRUCT@0..17
    StructKeyword@0..6 "struct"
    Whitespace@6..7 " "
    Ident@7..12 "Empty"
    Whitespace@12..13 " "
    LBrace@13..14 "{"
    STRUCT_FIELD_LIST@14..17
      RBrace@14..15 "}"
      Whitespace@15..17 "\n\n"
  STRUCT@17..60
    StructKeyword@17..23 "struct"
    Whitespace@23..24 " "
    Ident@24..30 "Nested"
    Whitespace@30..31 " "
    LBrace@31..32 "{"
    Whitespace@32..37 "\n    "
    STRUCT_FIELD_LIST@37..60
      STRUCT_FIELD@37..55
        Ident@37..42 "value"
        Colon@42..43 ":"
        Whitespace@43..44 " "
        TYPE_TUPLE@44..55
          TYPE_LIST@44..55
            LParen@44..45 "("
            TYPE_TUPLE@45..47
              TYPE_LIST@45..47
                LParen@45..46 "("
                RParen@46..47 ")"
            Comma@47..48 ","
            Whitespace@48..49 " "
            TYPE_TAPP@49..54
              PATH@49..54
                Ident@49..54 "Empty"
            RParen@54..55 ")"
      Comma@55..56 ","
      Whitespace@56..57 "\n"
      RBrace@57..58 "}"
      Whitespace@58..60 "\n\n"
  FN@60..541
    FnKeyword@60..62 "fn"
    Whitespace@62..63 " "
    Ident@63..71 "distinct"
    GENERIC_LIST@71..74
      LBracket@71..72 "["
      GENERIC@72..73
        Ident@72..73 "T"
      RBracket@73..74 "]"
    PARAM_LIST@74..85
      LParen@74..75 "("
      PARAM@75..83
        Ident@75..80 "value"
        Colon@80..81 ":"
        Whitespace@81..82 " "
        TYPE_TAPP@82..83
          PATH@82..83
            Ident@82..83 "T"
      RParen@83..84 ")"
      Whitespace@84..85 " "
    Arrow@85..87 "->"
    Whitespace@87..88 " "
    TYPE_TUPLE@88..91
      TYPE_LIST@88..91
        LParen@88..89 "("
        RParen@89..90 ")"
        Whitespace@90..91 " "
    BLOCK@91..541
      LBrace@91..92 "{"
      Whitespace@92..97 "\n    "
      STMT_LET@97..137
        LetKeyword@97..100 "let"
        Whitespace@100..101 " "
        PATTERN_VARIABLE@101..105
          Ident@101..105 "refs"
        Colon@105..106 ":"
        Whitespace@106..107 " "
        TYPE_TAPP@107..119
          PATH@107..110
            Ident@107..110 "Vec"
          TYPE_PARAM_LIST@110..119
            LBracket@110..111 "["
            TYPE_TAPP@111..117
              PATH@111..114
                Ident@111..114 "Ref"
              TYPE_PARAM_LIST@114..117
                LBracket@114..115 "["
                TYPE_TAPP@115..116
                  PATH@115..116
                    Ident@115..116 "T"
                RBracket@116..117 "]"
            RBracket@117..118 "]"
            Whitespace@118..119 " "
        Eq@119..120 "="
        Whitespace@120..121 " "
        EXPR_CALL@121..131
          EXPR_IDENT@121..129
            PATH@121..129
              Ident@121..124 "Vec"
              ColonColon@124..126 "::"
              Ident@126..129 "new"
          ARG_LIST@129..131
            LParen@129..130 "("
            RParen@130..131 ")"
        Semi@131..132 ";"
        Whitespace@132..137 "\n    "
      STMT_LET@137..192
        LetKeyword@137..140 "let"
        Whitespace@140..141 " "
        PATTERN_VARIABLE@141..145
          Ident@141..145 "keys"
        Colon@145..146 ":"
        Whitespace@146..147 " "
        TYPE_TAPP@147..170
          PATH@147..154
            Ident@147..154 "HashMap"
          TYPE_PARAM_LIST@154..170
            LBracket@154..155 "["
            TYPE_TAPP@155..161
              PATH@155..158
                Ident@155..158 "Ref"
              TYPE_PARAM_LIST@158..161
                LBracket@158..159 "["
                TYPE_TAPP@159..160
                  PATH@159..160
                    Ident@159..160 "T"
                RBracket@160..161 "]"
            Comma@161..162 ","
            Whitespace@162..163 " "
            TYPE_INT@163..168
              IsizeKeyword@163..168 "isize"
            RBracket@168..169 "]"
            Whitespace@169..170 " "
        Eq@170..171 "="
        Whitespace@171..172 " "
        EXPR_CALL@172..186
          EXPR_IDENT@172..184
            PATH@172..184
              Ident@172..179 "HashMap"
              ColonColon@179..181 "::"
              Ident@181..184 "new"
          ARG_LIST@184..186
            LParen@184..185 "("
            RParen@185..186 ")"
        Semi@186..187 ";"
        Whitespace@187..192 "\n    "
      STMT_EXPR@192..330
        EXPR_FOR@192..330
          ForKeyword@192..195 "for"
          Whitespace@195..196 " "
          PATTERN_VARIABLE@196..202
            Ident@196..201 "index"
            Whitespace@201..202 " "
          InKeyword@202..204 "in"
          Whitespace@204..205 " "
          EXPR_RANGE@205..212
            EXPR_INT@205..206
              Int@205..206 "0"
            DotDot@206..208 ".."
            EXPR_INT@208..212
              Int@208..211 "128"
              Whitespace@211..212 " "
          BLOCK@212..330
            LBrace@212..213 "{"
            Whitespace@213..222 "\n        "
            STMT_LET@222..263
              LetKeyword@222..225 "let"
              Whitespace@225..226 " "
              PATTERN_VARIABLE@226..236
                Ident@226..235 "reference"
                Whitespace@235..236 " "
              Eq@236..237 "="
              Whitespace@237..238 " "
              EXPR_CALL@238..253
                EXPR_IDENT@238..246
                  PATH@238..246
                    Ident@238..241 "Ref"
                    ColonColon@241..243 "::"
                    Ident@243..246 "new"
                ARG_LIST@246..253
                  LParen@246..247 "("
                  ARG@247..252
                    EXPR_IDENT@247..252
                      PATH@247..252
                        Ident@247..252 "value"
                  RParen@252..253 ")"
              Semi@253..254 ";"
              Whitespace@254..263 "\n        "
            STMT_EXPR@263..293
              EXPR_CALL@263..283
                EXPR_BINARY@263..272
                  EXPR_IDENT@263..267
                    PATH@263..267
                      Ident@263..267 "refs"
                  Dot@267..268 "."
                  EXPR_IDENT@268..272
                    PATH@268..272
                      Ident@268..272 "push"
                ARG_LIST@272..283
                  LParen@272..273 "("
                  ARG@273..282
                    EXPR_IDENT@273..282
                      PATH@273..282
                        Ident@273..282 "reference"
                  RParen@282..283 ")"
              Semi@283..284 ";"
              Whitespace@284..293 "\n        "
            EXPR_CALL@293..324
              EXPR_BINARY@293..301
                EXPR_IDENT@293..297
                  PATH@293..297
                    Ident@293..297 "keys"
                Dot@297..298 "."
                EXPR_IDENT@298..301
                  PATH@298..301
                    Ident@298..301 "set"
              ARG_LIST@301..324
                LParen@301..302 "("
                ARG@302..313
                  EXPR_IDENT@302..311
                    PATH@302..311
                      Ident@302..311 "reference"
                  Comma@311..312 ","
                  Whitespace@312..313 " "
                ARG@313..318
                  EXPR_IDENT@313..318
                    PATH@313..318
                      Ident@313..318 "index"
                RParen@318..319 ")"
                Whitespace@319..324 "\n    "
            RBrace@324..325 "}"
            Whitespace@325..330 "\n    "
      STMT_EXPR@330..355
        EXPR_CALL@330..349
          EXPR_IDENT@330..337
            PATH@330..337
              Ident@330..337 "println"
          ARG_LIST@337..349
            LParen@337..338 "("
            ARG@338..348
              EXPR_CALL@338..348
                EXPR_BINARY@338..346
                  EXPR_IDENT@338..342
                    PATH@338..342
                      Ident@338..342 "keys"
                  Dot@342..343 "."
                  EXPR_IDENT@343..346
                    PATH@343..346
                      Ident@343..346 "len"
                ARG_LIST@346..348
                  LParen@346..347 "("
                  RParen@347..348 ")"
            RParen@348..349 ")"
        Semi@349..350 ";"
        Whitespace@350..355 "\n    "
      STMT_EXPR@355..394
        EXPR_CALL@355..388
          EXPR_IDENT@355..362
            PATH@355..362
              Ident@355..362 "println"
          ARG_LIST@362..388
            LParen@362..363 "("
            ARG@363..387
              EXPR_CALL@363..387
                EXPR_IDENT@363..369
                  PATH@363..369
                    Ident@363..369 "ptr_eq"
                ARG_LIST@369..387
                  LParen@369..370 "("
                  ARG@370..379
                    EXPR_INDEX@370..377
                      EXPR_IDENT@370..374
                        PATH@370..374
                          Ident@370..374 "refs"
                      LBracket@374..375 "["
                      EXPR_INT@375..376
                        Int@375..376 "0"
                      RBracket@376..377 "]"
                    Comma@377..378 ","
                    Whitespace@378..379 " "
                  ARG@379..386
                    EXPR_INDEX@379..386
                      EXPR_IDENT@379..383
                        PATH@379..383
                          Ident@379..383 "refs"
                      LBracket@383..384 "["
                      EXPR_INT@384..385
                        Int@384..385 "1"
                      RBracket@385..386 "]"
                  RParen@386..387 ")"
            RParen@387..388 ")"
        Semi@388..389 ";"
        Whitespace@389..394 "\n    "
      STMT_EXPR@394..433
        EXPR_CALL@394..427
          EXPR_IDENT@394..401
            PATH@394..401
              Ident@394..401 "println"
          ARG_LIST@401..427
            LParen@401..402 "("
            ARG@402..426
              EXPR_CALL@402..426
                EXPR_IDENT@402..408
                  PATH@402..408
                    Ident@402..408 "ptr_eq"
                ARG_LIST@408..426
                  LParen@408..409 "("
                  ARG@409..418
                    EXPR_INDEX@409..416
                      EXPR_IDENT@409..413
                        PATH@409..413
                          Ident@409..413 "refs"
                      LBracket@413..414 "["
                      EXPR_INT@414..415
                        Int@414..415 "0"
                      RBracket@415..416 "]"
                    Comma@416..417 ","
                    Whitespace@417..418 " "
                  ARG@418..425
                    EXPR_INDEX@418..425
                      EXPR_IDENT@418..422
                        PATH@418..422
                          Ident@418..422 "refs"
                      LBracket@422..423 "["
                      EXPR_INT@423..424
                        Int@423..424 "0"
                      RBracket@424..425 "]"
                  RParen@425..426 ")"
            RParen@426..427 ")"
        Semi@427..428 ";"
        Whitespace@428..433 "\n    "
      STMT_EXPR@433..477
        EXPR_CALL@433..471
          EXPR_IDENT@433..440
            PATH@433..440
              Ident@433..440 "println"
          ARG_LIST@440..471
            LParen@440..441 "("
            ARG@441..470
              EXPR_CALL@441..470
                EXPR_BINARY@441..466
                  EXPR_INDEX@441..456
                    EXPR_IDENT@441..445
                      PATH@441..445
                        Ident@441..445 "keys"
                    LBracket@445..446 "["
                    EXPR_INDEX@446..455
                      EXPR_IDENT@446..450
                        PATH@446..450
                          Ident@446..450 "refs"
                      LBracket@450..451 "["
                      EXPR_INT@451..454
                        Int@451..454 "127"
                      RBracket@454..455 "]"
                    RBracket@455..456 "]"
                  Dot@456..457 "."
                  EXPR_IDENT@457..466
                    PATH@457..466
                      Ident@457..466 "unwrap_or"
                ARG_LIST@466..470
                  LParen@466..467 "("
                  ARG@467..469
                    EXPR_PREFIX@467..469
                      Minus@467..468 "-"
                      EXPR_INT@468..469
                        Int@468..469 "1"
                  RParen@469..470 ")"
            RParen@470..471 ")"
        Semi@471..472 ";"
        Whitespace@472..477 "\n    "
      STMT_EXPR@477..501
        EXPR_CALL@477..495
          EXPR_BINARY@477..488
            EXPR_INDEX@477..484
              EXPR_IDENT@477..481
                PATH@477..481
                  Ident@477..481 "refs"
              LBracket@481..482 "["
              EXPR_INT@482..483
                Int@482..483 "0"
              RBracket@483..484 "]"
            Dot@484..485 "."
            EXPR_IDENT@485..488
              PATH@485..488
                Ident@485..488 "set"
          ARG_LIST@488..495
            LParen@488..489 "("
            ARG@489..494
              EXPR_IDENT@489..494
                PATH@489..494
                  Ident@489..494 "value"
            RParen@494..495 ")"
        Semi@495..496 ";"
        Whitespace@496..501 "\n    "
      EXPR_CALL@501..538
        EXPR_IDENT@501..508
          PATH@501..508
            Ident@501..508 "println"
        ARG_LIST@508..538
          LParen@508..509 "("
          ARG@509..536
            EXPR_CALL@509..536
              EXPR_BINARY@509..532
                EXPR_INDEX@509..522
                  EXPR_IDENT@509..513
                    PATH@509..513
                      Ident@509..513 "keys"
                  LBracket@513..514 "["
                  EXPR_INDEX@514..521
                    EXPR_IDENT@514..518
                      PATH@514..518
                        Ident@514..518 "refs"
                    LBracket@518..519 "["
                    EXPR_INT@519..520
                      Int@519..520 "0"
                    RBracket@520..521 "]"
                  RBracket@521..522 "]"
                Dot@522..523 "."
                EXPR_IDENT@523..532
                  PATH@523..532
                    Ident@523..532 "unwrap_or"
              ARG_LIST@532..536
                LParen@532..533 "("
                ARG@533..535
                  EXPR_PREFIX@533..535
                    Minus@533..534 "-"
                    EXPR_INT@534..535
                      Int@534..535 "1"
                RParen@535..536 ")"
          RParen@536..537 ")"
          Whitespace@537..538 "\n"
      RBrace@538..539 "}"
      Whitespace@539..541 "\n\n"
  FN@541..749
    FnKeyword@541..543 "fn"
    Whitespace@543..544 " "
    Ident@544..548 "main"
    PARAM_LIST@548..551
      LParen@548..549 "("
      RParen@549..550 ")"
      Whitespace@550..551 " "
    Arrow@551..553 "->"
    Whitespace@553..554 " "
    TYPE_TUPLE@554..557
      TYPE_LIST@554..557
        LParen@554..555 "("
        RParen@555..556 ")"
        Whitespace@556..557 " "
    BLOCK@557..749
      LBrace@557..558 "{"
      Whitespace@558..563 "\n    "
      STMT_EXPR@563..581
        EXPR_CALL@563..575
          EXPR_IDENT@563..571
            PATH@563..571
              Ident@563..571 "distinct"
          ARG_LIST@571..575
            LParen@571..572 "("
            ARG@572..574
              EXPR_UNIT@572..574
                LParen@572..573 "("
                RParen@573..574 ")"
            RParen@574..575 ")"
        Semi@575..576 ";"
        Whitespace@576..581 "\n    "
      STMT_EXPR@581..605
        EXPR_CALL@581..599
          EXPR_IDENT@581..589
            PATH@581..589
              Ident@581..589 "distinct"
          ARG_LIST@589..599
            LParen@589..590 "("
            ARG@590..598
              EXPR_STRUCT_LITERAL@590..598
                PATH@590..596
                  Ident@590..595 "Empty"
                  Whitespace@595..596 " "
                STRUCT_LITERAL_FIELD_LIST@596..598
                  LBrace@596..597 "{"
                  RBrace@597..598 "}"
            RParen@598..599 ")"
        Semi@599..600 ";"
        Whitespace@600..605 "\n    "
      STMT_EXPR@605..653
        EXPR_CALL@605..647
          EXPR_IDENT@605..613
            PATH@605..613
              Ident@605..613 "distinct"
          ARG_LIST@613..647
            LParen@613..614 "("
            ARG@614..646
              EXPR_STRUCT_LITERAL@614..646
                PATH@614..621
                  Ident@614..620 "Nested"
                  Whitespace@620..621 " "
                STRUCT_LITERAL_FIELD_LIST@621..646
                  LBrace@621..622 "{"
                  Whitespace@622..623 " "
                  STRUCT_LITERAL_FIELD@623..645
                    Ident@623..628 "value"
                    Colon@628..629 ":"
                    Whitespace@629..630 " "
                    EXPR_TUPLE@630..645
                      LParen@630..631 "("
                      EXPR_UNIT@631..633
                        LParen@631..632 "("
                        RParen@632..633 ")"
                      Comma@633..634 ","
                      Whitespace@634..635 " "
                      EXPR_STRUCT_LITERAL@635..643
                        PATH@635..641
                          Ident@635..640 "Empty"
                          Whitespace@640..641 " "
                        STRUCT_LITERAL_FIELD_LIST@641..643
                          LBrace@641..642 "{"
                          RBrace@642..643 "}"
                      RParen@643..644 ")"
                      Whitespace@644..645 " "
                  RBrace@645..646 "}"
            RParen@646..647 ")"
        Semi@647..648 ";"
        Whitespace@648..653 "\n    "
      STMT_LET@653..682
        LetKeyword@653..656 "let"
        Whitespace@656..657 " "
        PATTERN_VARIABLE@657..662
          Ident@657..662 "empty"
        Colon@662..663 ":"
        Whitespace@663..664 " "
        TYPE_ARRAY@664..672
          LBracket@664..665 "["
          TYPE_TUPLE@665..667
            TYPE_LIST@665..667
              LParen@665..666 "("
              RParen@666..667 ")"
          Semi@667..668 ";"
          Whitespace@668..669 " "
          Int@669..670 "0"
          RBracket@670..671 "]"
          Whitespace@671..672 " "
        Eq@672..673 "="
        Whitespace@673..674 " "
        EXPR_ARRAY_LITERAL@674..676
          LBracket@674..675 "["
          RBracket@675..676 "]"
        Semi@676..677 ";"
        Whitespace@677..682 "\n    "
      STMT_EXPR@682..703
        EXPR_CALL@682..697
          EXPR_IDENT@682..690
            PATH@682..690
              Ident@682..690 "distinct"
          ARG_LIST@690..697
            LParen@690..691 "("
            ARG@691..696
              EXPR_IDENT@691..696
                PATH@691..696
                  Ident@691..696 "empty"
            RParen@696..697 ")"
        Semi@697..698 ";"
        Whitespace@698..703 "\n    "
      STMT_EXPR@703..731
        EXPR_CALL@703..725
          EXPR_IDENT@703..711
            PATH@703..711
              Ident@703..711 "distinct"
          ARG_LIST@711..725
            LParen@711..712 "("
            ARG@712..724
              EXPR_ARRAY_LITERAL@712..724
                LBracket@712..713 "["
                EXPR_UNIT@713..715
                  LParen@713..714 "("
                  RParen@714..715 ")"
                Comma@715..716 ","
                Whitespace@716..717 " "
                EXPR_UNIT@717..719
                  LParen@717..718 "("
                  RParen@718..719 ")"
                Comma@719..720 ","
                Whitespace@720..721 " "
                EXPR_UNIT@721..723
                  LParen@721..722 "("
                  RParen@722..723 ")"
                RBracket@723..724 "]"
            RParen@724..725 ")"
        Semi@725..726 ";"
        Whitespace@726..731 "\n    "
      EXPR_CALL@731..747
        EXPR_IDENT@731..739
          PATH@731..739
            Ident@731..739 "distinct"
        ARG_LIST@739..747
          LParen@739..740 "("
          ARG@740..745
            EXPR_BOOL@740..745
              FalseKeyword@740..745 "false"
          RParen@745..746 ")"
          Whitespace@746..747 "\n"
      RBrace@747..748 "}"
      Whitespace@748..749 "\n"